{
	"arduino": {
		"controller": "PCF8574",
		"rows": 2,
		"cols": 16
	},
	"lastfm": {
		"key": null
	},
	"darksky": {
		"key": null
	},
	"steps": [{
		"type": "lastfm-current-track",
		"enabled": true,
		"duration": 5000,
		"username": "mhor_"
	}, {
		"type": "lastfm-last-played-track",
		"enabled": true,
		"duration": 5000,
		"username": "mhor_"
	}, {
		"type": "weather",
		"enabled": true,
		"duration": 5000,
		"city": "Paris",
		"lat": 48.8534100,
		"long": 2.3488000
	}, {
		"type": "weather",
		"enabled": true,
		"duration": 5000,
		"city": "Mitry Mory",
		"lat": 48.9833,
		"long": 2.6167
	}, {
		"type": "datetime",
		"enabled": true,
		"duration": 5000,
		"format": {
			"date": "ll",
			"time": "LT"
		}
	}]
}
